@import url("fonts.css");

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

    .splash .message {
        font-size: 72px;
        line-height: 72px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .splash .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 72px;
        margin-top: 50px;
    }

main.container-fluid {
    margin-top: 5rem;
}

div.markdown {
    background-color: #f8f9fa;
}

div.display-text-container {
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
    margin: auto;
    border: 1px dashed lightgray;
}

div.display-text, td.display-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "AppleColorEmoji", "Segoe UI", "Segoe UI Emoji", "Microsoft YaHei UI", "Meiryo UI", "Malgun Gothic", "Leelawadee UI", "Segoe UI Historic", "Segoe UI Symbol", Tahoma, Geneva, Verdana, "Arial Unicode MS", "BabelStone Runic", "BabelStone Zanabazar", "BabelStone Marchen", "Tangut Yinchuan", sans-serif;
    font-size: 1rem;
}

    div.display-text > a, td.display-text > a {
        color: inherit;
        text-decoration: inherit;
    }

td.display-text {
    padding: 0;
}

    td.display-text:not(.bg-warning):hover {
        background-color: #007bff;
    }

    td.display-text > a {
        display: block;
    }

th.display-text {
    width: 5.5rem;
}

th.code-point {
    width: 6rem;
}

table.code-point-table > thead > tr > th {
    text-align: center;
}

table.code-point-table > tbody > tr > td:first-child {
    vertical-align: middle;
    text-align: right;
    max-width: 2.5rem;
}

table.code-point-table > tbody > tr > td.display-text {
    font-size: 1rem;
    min-width: 2rem;
    height: 2rem;
}

.code-point-info > div.display-text-container {
    width: 8rem;
    height: 8rem;
    margin: 0.5rem auto;
}

    .code-point-info > div.display-text-container > div.display-text {
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
    }

table.decomposition-table > tbody > tr > td {
    vertical-align: middle;
}

    table.decomposition-table > tbody > tr > td.display-text > div.display-text-container {
        width: 2rem;
        height: 2rem;
    }

        table.decomposition-table > tbody > tr > td.display-text > div.display-text-container > div.display-text {
            font-size: 1rem;
            width: 2rem;
            height: 2rem;
        }

div.content-with-sidebar {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

    div.content-with-sidebar > .row {
        width: 100%;
        height: 100%;
    }

.sidebar {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

    .sidebar > header {
        position: sticky;
        top: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
    }

        .sidebar > header + .nav {
            margin-bottom: 1rem;
        }

    .sidebar + .scrollable-content {
        height: 100%;
        overflow: auto;
    }

        .sidebar + .scrollable-content > .content-wrapper {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

div.spinner {
    padding: 1rem 0;
    text-align: center;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
