@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">Unicode Browser</a>

    <ApplicationBusyIndicator class="navbar-text ml-auto mr-3 d-md-none" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="/home">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/decomposition">Decomposition</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/blocks">Blocks</NavLink>
            </li>
        </ul>

        <ApplicationBusyIndicator class="navbar-text ml-auto mr-3 d-none d-md-inline-block" />

        <form class="form-inline mt-2 mt-md-0">
            <div class="input-group mb-2 mb-md-0">
                <input class="form-control" type="search" name="q" bind="@CharacterSearchText" placeholder="Search a character…" aria-label="Search" autocomplete="off" />
                <span class="input-group-append"><button class="btn btn-success" type="submit" onclick="@SearchCharacter"><i class="fas fa-search"></i><p class="sr-only">Search</p></button></span>
            </div>
        </form>
    </div>
</nav>

@functions {
    private string CharacterSearchText { get; set; }

    public void SearchCharacter()
    {
        if (!string.IsNullOrEmpty(CharacterSearchText))
        {
            UriHelper.NavigateTo("/search?q=" + Uri.EscapeDataString(CharacterSearchText));
        }
    }
}