<form ref="Form" class="@Class" onsubmit="@OnSubmitInternal" novalidate>
    @ChildContent
</form>

@functions {
    private const string UnSubmittedFormClass = "needs-validation";
    private const string SubmittedFormClass = "needs-validation was-validated";

    private string Class { get; set; } = UnSubmittedFormClass;

    private ElementRef Form { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private Action OnSubmit { get; set; }

    private void OnSubmitInternal()
    {
        Class = SubmittedFormClass;

        if (Form.CheckValidity())
        {
            OnSubmit?.Invoke();
        }
    }
}