@using UnicodeBrowser.Models
@page "/codepoints/{hexCodePoint}"
@inject CodePointRepository CodePointRepository

<section>
    <h1>Code Point Information</h1>

    @if (CodePoint == null)
    {
        <div class="spinner"><i class="fas fa-2x fa-spinner fa-pulse"></i></div>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header">@CodePoint.GetDisplayName() <span class="badge badge-secondary">@CodePoint.Index.ToCodePointRepresentation()</span></div>
            <div class="card-body">
                <CodePointView CodePoint="@CodePoint" />
            </div>
        </div>
    }
</section>

@code {
    [Parameter]
    public string HexCodePoint { get; set; }

    private CodePoint CodePoint { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CodePoint = await CodePointRepository.GetCodePointAsync(int.Parse(HexCodePoint, NumberStyles.AllowHexSpecifier, CultureInfo.InvariantCulture));
    }
}
